<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Inventory Management</title>
    <link rel="stylesheet" href="./style.css">
    <link rel="icon" href="./favicon.ico" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <style>
      h1{
        margin-top:5vh;
        text-align:center;
        margin-bottom:10vh;
      }
      .fr{
        width:50vw;
        margin:auto;
        border: 2px solid blue;
        
      }
      button{
        margin-left:20em;
      }
      body{
        background-image: url("https://st2.depositphotos.com/2369859/10362/i/950/depositphotos_103621598-stock-photo-delicate-sepia-background-with-paint.jpg");
        background-size: cover;
    }


    </style>

  </head>
  <body>
    <h1>Inventory management</h1>
  </head>
  <body>
    
    <div class="fr">
        <h3>User please Enter your details</h3>
        <form method="POST" action="">
            <div class="form-group">
              <label for="exampleInputEmail1">User Name </label>
              <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
              <br>

            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              <br>
            </div>
            <div class="form-group form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <label class="form-check-label" for="exampleCheck1">Check me out</label>
              <br>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>  
        </div>
    
	<script src="index.js"></script>
  </body>
</html>